{% extends "layout.html" %}

{% block body %}
    <h1>Dashboard <small> Welcome {{user.username}}</small></h1>
    <a class="btn btn-success" href="/">Create Survey</a>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Survey name</th>
            <th>Results</th>
            <th></th>
            <th></th>
        </tr>
        {% for survey in surveys %}
            {% if user.username is username %}
            <tr>
                <td>{{survey.surveyname}}</td>
                <td><a class="btn btn-success" href="/getresults/{{survey.id}}">Get</a></td>
                
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
