{% extends "layout.html" %}

{% block body %}
    <h1>Dashboard <small> Welcome {{user.username}}</small></h1>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Survey name</th>
            <th>participate</th>
        </tr>
        {% for survey in surveys %}
            {% if survey.username != username and survey.check1 is True and survey.check3 is True %}
            <tr>
                <td>{{survey.surveyname}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
